@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Noto+Sans&display=swap');

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  max-height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.signature-container {
  font-family: 'Mrs Saint Delafield', cursive, 'Noto Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  max-width: 50vw;
  max-height: 10vh;
  margin: 2%;
}

.sig-part-1, .sig-part-2 {
  margin: 0;
  margin-top: 20%;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  animation: blink 12s infinite;
}

.header-nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0;
  margin-right: 1%;
}

@media (max-width: 600px) {
  .nav-header-top, .nav-header-projects, .nav-header-contact, .nav-header-resume {
    min-width: 10vw;
    min-height: 3.5vh;
    font-size: 0.6em;
    padding: 1vh;
    color: black;
  }
}

@media (min-width: 600px) {
  .nav-header-top, .nav-header-projects, .nav-header-contact, .nav-header-resume {
    min-width: 15vw;
    min-height: 3.5vh;
    font-size: 0.75em;
  }
}

.nav-header-top, .nav-header-projects, .nav-header-contact, .nav-header-resume {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: none;
}

.nav-header-top:hover, .nav-header-projects:hover, .nav-header-contact:hover, .nav-header-resume:hover {
  cursor: pointer;
}

.nav-header-top-svg, .nav-header-projects-svg, .nav-header-contact-svg, .nav-header-resume-svg {
  max-width: 4vw;
  max-height: 3vh;
}

.biography-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  max-height: 50vh;
}

@media (max-width: 600px) {
  .introduction-text-part-1, .introduction-text-part-2 {
    font-size: 2em;
    min-width: 15vw;
  }
}

@media (min-width: 601px) {
  .introduction-text-part-1, .introduction-text-part-2 {
    font-size: 3em;
  }
}

.introduction-text-part-1, .introduction-text-part-2 {
  margin: 0;
}

.introduction-text-part-1 {
  margin-left: 2%;
}

.introduction-text-part-2 {
  margin-top: 15%;
  max-width: 50vw;
  animation: slowly-fade-in 5s 1 ease-in-out;
  padding-left: 2%;
  border-left: 1px solid #ffa500;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0;
  margin-top: 2%;
  margin-right: 2%;
  min-height: 20vh;
  min-width: 20vw;
  max-height: 30vh;
  max-width: 30vw;
}

.roles-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30vh;
  font-size: 4em;
  margin: 1%;
  overflow: hidden;
}

#current-role {
  animation: role-swap 3.5s infinite;
}

.tools {
  max-height: 40vh;
  min-height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.tools-text {
  font-size: 1.5em;
  margin: 0;
  margin-left: 2%;
  margin-bottom: 1vh;
  border-bottom: 1px black solid;
}

.tool-container {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  perspective: 100px;
}

@media (max-width: 601px) {
  .tool-img {
    min-width: 10vw;
  }
}

@media (min-width: 601px) {
  .tool-img {
    min-width: 5vw;
  }
}

.tools .tool-container {
  animation: 7s infinite ease-out slide-in;
}

.tools .tool-container:nth-child(1) {
  animation-delay: 0.1s;
}

.tools .tool-container:nth-child(2) {
  animation-delay: 0.1s;
}

.tools .tool-container:nth-child(3) {
  animation-delay: 0.3s;
}

.tools .tool-container:nth-child(4) {
  animation-delay: 0.4s;
}

.tools .tool-container:nth-child(5) {
  animation-delay: 0.5s;
}

.tools .tool-container:nth-child(6) {
  animation-delay: 0.6s;
}

.tools .tool-container:nth-child(7) {
  animation-delay: 0.7s;
}

.tools .tool-container:nth-child(8) {
  animation-delay: 0.8s;
}

.tools .tool-container:nth-child(9) {
  animation-delay: 0.9s;
}

.tools .tool-container:nth-child(10) {
  animation-delay: 1s;
}

.tools .tool-container:nth-child(11) {
  animation-delay: 1.1s;
}

.tools .tool-container:nth-child(12) {
  animation-delay: 1.2s;
}

.tools .tool-container:nth-child(13) {
  animation-delay: 1.3s;
}

.tool-img:hover {
  transform: rotateX(30deg) translateZ(10px) scale(1.1);
}

.projects-container {
  margin-top: 5vh;
  overflow: hidden;
}

.projects-header-text {
  font-size: 1.5em;
  margin: 0;
  margin-left: 2%;
  border-bottom: 1px black solid;
}

.projects {
  display: flex;
  flex-flow: column nowrap;
  gap: 3vh;
  padding: 0;
}

#project {
  list-style: none;
  display: flex;
  max-width: 90vw;
  min-height: 30vh;
  margin: 0;
  position: relative;
}

@media (max-width: 600px) {
  #project {
    flex-flow: column nowrap;
  }
}

@media (min-width: 601px) {
  #project.left {
    flex-flow: row-reverse nowrap;
  }
  #project.right {
    flex-flow: row nowrap;
  }
}

#project.left {
  margin-right: 10vw;
  transform: translateX(60%) scale(0.9);
  transition: .5s ease-in-out;
}

#project.right {
  margin-left: 10vw;
  transform: translateX(-60%) scale(0.9);
  transition: .5s ease-in-out;
}

#project.active {
  transform: translateY(0);
  opacity: 1;
}

.project-info-container {
  flex-flow: column nowrap;
  width: 100%;
  margin: 2%;
}

.project-name-text {
  font-weight: 900;
  font-size: 1.5em;
}

.project-description-text {
  font-size: 1.25em;
}

.project-name-text, .project-description-text {
  line-height: 3vh;
}

.project-references-container  {
  display: flex;
  width: 95%;
  margin: 2%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .project-src-container {
    flex-flow: column nowrap;
  }
}

@media (min-width: 601px) {
  .project-src-container {
    flex-flow: row nowrap;
  }
}

.project-src-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.project-src-code-container, .project-src-live-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 2%;
  gap: 0.25vw;
  border: 1px solid rgb(0,0,0, 0.1);
}

@media (max-width: 600px) {
  .project-src-code-container, .project-src-live-container {
    min-width: 25vw;
  }
}

.project-src-code-container:hover, .project-src-live-container:hover {
  cursor: pointer;
  transform: scale(0.95);
  background-color: #ffa500;
}

.project-src-live-link, .project-src-code-link {
  font-size: 1.75em;
  text-decoration: none;
  color: black;
}

.project-src-live-svg, .project-src-code-svg {
  max-width: 5vw;
  min-width: 2.5vw;
  margin: 0;
}

.connect-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  max-height: 30vh;
  min-height: 20vh;
  margin: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.connect-text {
  margin: 0;
  font-size: 2em;
}

.send-email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0);
  color: white;
  max-width: 40vw;
  min-width: 20vw;
  font-size: 1.5em;
  text-decoration: none;
  border: 1px solid rgb(0,0,0);
  padding: 1vh;
}

.send-email-link:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: white;
  color: black;
}

.socials-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 5%;
  gap: 2vw;
  max-height: 50vh;
  min-height: 30vh;
}

.linkedin-link, .github-link {
  min-width: 15vw;
  max-width: 35vw;
}

.linkedin-svg, .github-svg {
  max-width: 35vw;
  min-width: 15vw;
}

.linkedin-svg:hover, .github-svg:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.linkedin-svg {
  filter: invert(20%) sepia(43%) saturate(3849%) hue-rotate(195deg) brightness(97%) contrast(104%);
}

.github-svg {
  filter: invert(3%) sepia(12%) saturate(661%) hue-rotate(314deg) brightness(94%) contrast(88%);
}

.resume-container  {
  max-height: 20vh;
  min-height: 10vh;
  margin: 5%;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  font-size: 1.5em;
  color: rgb(0,0,0);
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  }
}

@keyframes slowly-fade-in {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes role-swap {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  5% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  80% {
    opacity: 1;
    transform: translateX(0%);
  }
  90% {
    transform: translateX(20%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(0%);
  }
  5% {
    transform: translateY(30%);
  }
  95% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}