@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Noto+Sans&display=swap');

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  max-height: 10vh;
}

.signature-container {
  font-family: 'Mrs Saint Delafield', cursive, 'Noto Sans', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  max-width: 50vw;
  max-height: 10vh;
  margin: 2%;
}

.sig-part-1, .sig-part-2 {
  margin: 0;
  margin-top: 20%;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  animation: blink 12s infinite;
}

.header-nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0;
  margin-right: 1%;
}

.nav-header-top, .nav-header-projects, .nav-header-contact, .nav-header-resume {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-width: 15vw;
  min-height: 4vh;
  border: none;
}

.nav-header-top:hover, .nav-header-projects:hover, .nav-header-contact:hover, .nav-header-resume:hover {
  cursor: pointer;
}

.nav-header-top-svg, .nav-header-projects-svg, .nav-header-contact-svg, .nav-header-resume-svg {
  max-width: 4vw;
  max-height: 3vh;
}

.biography-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  max-height: 50vh;
}

@media (max-width: 600px) {
  .introduction-text-part-1, .introduction-text-part-2 {
    font-size: 1.5em;
    min-width: 15vw;
  }
}

@media (min-width: 601px) {
  .introduction-text-part-1, .introduction-text-part-2 {
    font-size: 2.5em;
  }
}

.introduction-text-part-1, .introduction-text-part-2 {
  margin: 0;
}

.introduction-text-part-1 {
  margin-left: 2%;
}

.introduction-text-part-2 {
  margin-top: 10%;
  max-width: 50vw;
  animation: slowly-fade-in 5s 1 ease-in-out;
}

.profile-img {
  border-radius: 50%;
  min-height: 20vh;
  min-width: 20vw;
  max-height: 30vh;
  max-width: 30vw;
}

.roles-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30vh;
  font-size: 4em;
  margin: 0;
}

#current-role {
  animation: role-swap 3.5s infinite;
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  }
}

@keyframes slowly-fade-in {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes role-swap {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  5% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  80% {
    opacity: 1;
    transform: translateX(0%);
  }
  90% {
    transform: translateX(20%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}